.header {
  background: $green;
  width: 100%;
  border-bottom: 5px solid $dark-green;
}

.header__title {
  margin-left: 10px;
}

.header__form {
  margin-top: 15px;
  width: 205px;

  input {
    margin: 2px;
  }
}

.header--left {
  display: inline-block;
}

.header--right {
  display: inline-block;
  float: right;
}
